
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);

}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 0 100px;
    text-decoration: none !important;
    box-shadow: 0 0 9px;
    background-color: white;
    /* position: sticky; */
    /* top: 0px; */
    /* z-index: 1 !important; */
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
nav .logo a img{
    height: 40px;
    border-radius: 10px;
}
nav .logo a {
    font-size: 22px;
    text-decoration: none !important;
    color: #d4045c;
    font-family: 'Roboto', sans-serif;
}
nav .bttns{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    width: 380px;
    display: flex;
    justify-content: space-between;
}
nav .bttns button{
    padding: 8px 25px;
    color: #d4045c;
    font-size: 15px;
    border-radius: 11px;
    cursor: pointer;
    font-weight: 700;
}
nav .bttns #login{
    border:1.5px solid #d4045c;
    transition: all ease 0.3s;
    background-color: white;
}
nav .bttns #login:hover{
    background-color: #f5d1df;
    transform: scale(0.9);
}
nav .bttns #signup{
    color: white;
    background-color: #d41870;
    border:1.5px solid #d41870;
    transition: all ease 0.3s;

}
nav .bttns #signup:hover{
    background-color: #d4045c;
    transform: scale(0.9);

}
nav .bttns #select{
    color: black;
}
nav .bttns #icon{
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #d4045c;
    background-color: white;
    border: none;
    transition: all ease 0.3s;

    /* font-size: 16px; */
    /* width: 40px; */
    /* #f5d1df */
}
nav .bttns #icon:hover{
    background-color: #fceaee;
    transform: scale(0.9);

}
nav .bttns #select{
    background-color: white;
    border: none;
    transition: all ease 0.3s;

}
nav .bttns #select:hover{
    background-color: #fceaee;
}

/*  */
#about{
    width: 100%;
    height: 600px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
    /* background-image: url(./images/refresh-hero-home-pk.webp); */
}
#about .content{
    width: 45%;
    padding: 200px 90px;

   
}
#about .content p{
    font-size: 34px;
    font-family: 'Roboto', sans-serif;

}
#about .content div{
    width: 670px;
    height: 74px;
    border-radius: 20px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px  0px 3px;
    background-color: white;
}
#about .content div input{
    width: 430px;
    height: 50px;
    position: relative;
    top: 13px;
    background-color: white;
    border: 0.0975rem solid lightgrey;
    border-radius: 10px;
    padding: 0 20px;
    outline: none;
    /* z-index: 1; */
    /* line-height: 44px; */

}
#about .content div button{
    height: 47px;
    position: relative;
    top: 13px;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 600;
    border: 0.0975rem solid #d4045c;
    background-color: #d4045c;
    color: white;
}
#about .image{
    /* width: 55%; */
    height: 600px;
    border: 2px solid;
    /* background-image: url(./images/refresh-hero-home-pk.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* padding: 0 40px; */
}
#about  img{
    width: 55%;
    z-index:-1;
    /* object-fit: cover; */
    position: relative;
    /* left: 20px; */
    /* right: 200px; */
    
    /* position: relative; */
    /* left: 30px; */
    /* border: 2px solid; */
    /* padding: 0 0 0 30px; */
    /* width: 100%; */
    /* position: relative; */
    /* left: 30px; */
    height: 570px;
}
#bottom{
    width: 100%;
    height: 700px;
    position: relative;
    top: 100px;
}
#bottom #para{
    font-size: 35px;
    padding: 60px 60px;
    font-family: 'Roboto', sans-serif;

}
#bottom .image{
    width: 100%;
    height: 420px;
}
#bottom .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#bottom .contant{
    margin: 0px 140px;
    position: relative;
    bottom: 170px;
    background-color: white;
    width: 620px;
    height: 320px;
    /* border: 2px solid; */
    padding: 30px 30px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 8px;

}
#bottom .contant h4{
    font-size: 23px;
    

}
#bottom .contant p{
    /* margin-top: 10px; */
    font-size: 18px;
    padding: 10px 0;
}
#bottom .contant div{
    margin-top: 20px;
}
#bottom .contant button{
    padding: 13px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.0275rem;
    background-color: #d4045c;
    color: white;
    border: none;
    cursor: pointer;
    /* margin-top: 13px; */
    transition: all ease 0.5s;
}
#bottom .contant button:hover{
    transform: scale(1.025);
}
#card{
    position: relative;
    top: 230px;
    padding: 60px 140px;
}
#card p{
    font-size: 30px;
    padding: 30px 2px;
    font-family: 'Roboto', sans-serif;

}
#card .sub-cards{
    width: 100%;
    height: auto;
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
}
#card .card{
    width: 300px;
    height: 270px;
    /* border: 2px solid; */
    border-radius: 20px;

}

#card .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;    
    transition: all ease 0.5s;

}
#card .card img:hover{
    transform: scale(1.0075);
}
#card .card button{
    position: relative;
    bottom: 65px;
    left: 10px;
    width: 130px;
    height: 50px;
    font-size: 19px;
    border-radius: 15px;
    border-style: none; 
    /* position: absolute;
    left: 0px;
    margin: 205px 80px;
    width: 130px;
    height: 50px;
    font-size: 19px;
    border-radius: 15px;
    border-style: none; */
}
#menu{
    width: 100%;
    height: 700px;
    /* border: 2px solid; */
    position:relative ;
    top: 240px;
    padding: 0px 140px;

}
#menu #para{
    font-size: 33px;
    padding: 30px 0px;
    font-family: 'Roboto', sans-serif;

}
#menu .main-contant{
    width: 100%;
    height: 300px;
    /* border: 2px solid; */
    /* margin: 0px 60px; */
    border-radius: 20px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #d4045c;
    border-color: #d4045c;
    color: white;

}
#menu .left{
    width:55% ;
    height: 100%;
    /* border: 2px solid; */
    padding: 30px 30px;
}
#menu .left #paraLeft{
    font-size: 23px;
    padding: 20px 30px;
}
#menu .left div{
    width: 100%;
    height: 140px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    padding: 30px 40px;
    gap: 0px 15px;
    /* padding-right: 80px; */
}
#menu .left div img{
    height: 80px;
    border: 2px solid white;
    padding: 4px;
}
#menu .left button{
    width: 130px;
    background-color: black;
    color: white;
    font-size: 10px !important;
    padding: 5px 20px;
}
#menu .left button img{
    width: 30px;
    object-fit: contain;
}
#menu .right{
    width: 55%;
    height: 100%;
    /* border: 2px solid; */
}
#menu .right img{
    height: 480px !important;
    position: relative;
    left: 10px;
    bottom: 80px;
    /* margin: 0px 80px; */
}
#business{
    position: relative;
    /* top: 50px; */
    width: 100%;
    height: 400px;
    /* border: 2px solid; */
    /* padding: 60px 140px; */
}
#business #businessPara{
    padding: 20px 140px;
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
}
#business img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#business .businessContant{
    position: relative;
    bottom: 120px;
    margin: 0px 130px;
    width: 640px;
    height: 200px;
    border-radius: 15px;
    /* border: 2px solid; */
    background-color: white;
    padding: 20px 60px 20px 30px;
    box-shadow: 0 0 8px;
    /* gap: 0px 20px; */
    /* margin-bottom: 20px; */
}
#business .businessContant p{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

    /* gap: 0px 20px; */
}
#business .businessContant #one{
    font-size: 25px;
}
#business .businessContant button{
    padding: 20px 13px;
    border-radius: 10px;
    border-style: none;
    background-color: #d4045c;
    font-weight: 700px !important;
    color: white;
    cursor: pointer;
}